{
  "presets": [
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/transform-object-assign", {}, "parcel-toa"],
    ["@babel/proposal-class-properties", {}, "parcel-pcp"],
    ["@babel/proposal-object-rest-spread", {}, "parcel-pors"]
  ]
}